div {
    display: flex;
}

span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    background-color: aqua;
    border: 2px solid black;
}